/* Configs gerais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', 'sans-serif';
}

/* Estilização do topo da página */
header{
    width: 100%;
    position: fixed;
    background-color: white;
}

.menu{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
}

.link-topo-titulo{
    color: black;
    text-decoration: none;
    font-size: 23px;
    font-weight: 500;
}

.link-topo-titulo span{
    color: lightblue;
}

.link-topo{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 10px 0 ;
}

/* Estilizando mini-banner */
.background{
    background-image: url(../assets/img-fundo.jpg);
    background-size: cover;
    height: 200px;
}

/* Estilizando todos os containers de apresentação do conteúdo */
.box-apresentacao{
    width: 1024px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-apresentacao h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 30px;
    color: #333333;
    padding: 0 0 20px;
}

.box-apresentacao p{
    font-size: 17px;
    color: #585858;
    padding: 10px 0;
}

/* Estilizando a seção dos quartos */
.container-quartos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.quartos{
    width: 25%;
    height: 280px;
    margin-right: 10px;
    text-align: center;
}

.quartos img{
    width: 100%;
    height: 100%;
}

.quartos p{
    margin: 20px 0;
}

/* Estilizando a seção da lista */
.container-lista{
    width: 1024px;
    margin: 60px auto 0;
    text-align: left;
    padding: 10px;
}

.container-lista h3{
    text-align: center;
    color: #333333;
}

.lista{
    display: flex;
    width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

.lista ul{
    margin: 0 auto;
}

.lista ul li{
    padding: 10px 0;    
    color: #585858;
}

/* .container-lista ul{
    width: 500px;
    border: 1px solid;
} */

.container-lista ul li{
    /* border: 1px solid blue; */
}

/* Estilizando o rodapé */
footer{
    background-color: rgb(92, 153, 92);
    color: #ffff;
    margin-top: 30px ;
}

.limita-footer{
    width: 1024px;
    margin: 0 auto;
}

.footer-contato{
    display: flex;
    padding: 40px;
    border-bottom: 2px solid lightblue;
}

.footer-titulo{
    font-size: 12px;
}

.footer-card-contato{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 30px 0;
    width: 300px;
}

.footer-card-contato a{
    text-decoration: none;
    color: #ffff;
}

.footer-card-contato img{
    width: 40px;
    height: 40px;
}

.footer-card-contato:nth-child(3) a{
    padding-top: 10px;
}

.footer-nome{
    text-align: center;
    padding: 15px;
}